ion-content ion-toolbar {
    --background: translucent;
  }
  
  ion-card {
    position: relative;
    text-align: center;
    height: 250px;
    border-radius: 10px;
  }
  
  ion-chip{
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    border-radius: 50px;
  }
  
  .card-title {
    position: absolute;
    top: 0%;
    font-size: 2.0em;
    width: auto;
    height: fit-content;
    padding: 10px;
    border-bottom-right-radius: 5px;
    font-weight: bold;
    color: #fff;
    text-align: left;
    padding-left: 10px;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .card-tags {
    font-size: 1.0em;
    position: absolute;
    top: 82%;
    width: 100%;
    text-align: left;
    padding-left: 10px;
  }
  
  